/* Hide original Tidal lyrics content if present */
[data-test="lyrics-container-provider-info"] {
    display: none !important;
}

[data-test="lyrics-content-container"] {
    display: none !important;
}

/* Style for our injected lyrics container */
#lyrics-plus-panel #lyrics-plus-container {
    display: block;
    min-height: 70svh;
}

#lyrics-plus-panel{
    height: 100%;
    width: 100%;
    min-height:285px; max-height: 56svh;
    --lyrics-scroll-padding-top: 15%;
    --lyplus-font-family:  var(--market-core-type-display-font-family);
    mask-image: linear-gradient(to bottom, #0000 0%, #000 10%, #000 90%, #0000 100%);
}

#lyrics-plus-panel .lyrics-line {
font-size: 40px;
}

.react-tabs #lyrics-plus-buttons-wrapper {
    display: flex;
    bottom: 10%;
    left: 0;
    width: min-content;
}

.react-tabs #lyrics-plus-translation-dropdown {
    top: -6em;
    left: 90%;
}
